* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-weight: normal;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: 50%;
}
input {
  border-radius: 9px;
  /* margin: 10px; */
  height: 35px;
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
}
p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
}
button {
  background-color: blue;
  color: white;
  border: none;
}
span {
  color: blue;
}

.first_last {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  /* gap: 10px; */
  /* display: grid;
  grid-auto-flow: column;
  grid-column-gap: 25px; */
}
w .confirm {
  margin-top: 5px;
  display: grid;
  grid-auto-flow: column;
}

.checkbox-btn {
  white-space: nowrap;
  padding-top: 10px;
}

.checkbox {
  display: inline-block;
  width: 20%;
}

.btn-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50 auto;
  grid-gap: 20px;
}
.confirmation_btns {
  padding: 20px;
  float: left;
  width: 100%;
  margin: 5px 10px;
  border-radius: 10px;
}
#register-btn {
  color: white;
  background-color: blue;
  font-size: 19px;
}
#signin-btn {
  background-color: green;
  color: white;
  font-size: 20px;
}
@media (max-width: 768px) {
  body {
    width: 100vw;
  }

  .btn-section {
    grid-gap: 60px;
  }
  input {
    margin-bottom: 30px;
  }
  #register-btn {
    background-color: aqua;
  }
  #signin-btn {
    background-color: blueviolet;
  }
}
